:root{
   --secondary-text-color:#737373;
}

body {
   font-family: "Roboto", sans-serif;
}

.bg-header {
  background-image: url('/assets/image/background_1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  color: white;
  position: relative;
}

.bg-headern > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  section {
    height: auto;
    padding: 80px 0;
  }
}

.contact-bg {
  background-image: url('/assets/image/background_2.jpg');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  background-attachment: scroll;  
  min-height: 100vh;              
  display: flex;                
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card {
  border: none;
  padding: 40px;
  max-width: 500px;
  margin: auto;
}


.partners-section {
  background-color: #fafafa;
}

.partners-section img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partners-section img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.partner-section {
  background-color: #fff;
  min-height: 675px;
}


.secondary-text {
  color: var(--secondary-text-color);
}

.bg {
  background: #0E0E33;
}

.bg-secondary {
  background-color: #FAFAFA !important; 
}